#title
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: visible;
    background-color: lightgrey;
    text-align: center;
    font-size: 20px;
    padding: 3px;
}

body {
    padding-top: 80px;
    background-image: url("./cp2pic.jpg");
}

form{
    background-color: white;
    width: 300px;
}

.back
{
    background-color: transparent;
}

#BookInfo
{
    background-color: white;
    height: 400px;
    width: 300px;
    overflow: scroll;
}

#bookForm {
    padding: 2px;
}